# Node dependencies
node_modules/

# Environment variables
.env

# Build output (if using Vite or React)
dist/
build/

# MacOS junk files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
